# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore Virtual Environment
venv/

.env
.env.prod
.env.yaml

# Ignore Django-specific files
db.sqlite3
media/
staticfiles/
migrations/

# Ignore logs
*.log
logs/

serviceAccountKey.json

.idea/

deploy-to-cloud-run.sh
ExpenseCategorizationAPI/settings.py
ExpenseCategorizationAPI/__pycache__/settings.cpython-312.pyc

Synthetic data/
expenses/ml/cleanup.py
