# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore Virtual Environment
venv/

.env
.env.prod

# Ignore Django-specific files
db.sqlite3
media/
staticfiles/
migrations/

# Ignore logs
*.log
logs/

serviceAccountKey.json

.idea/